enabled: false

replicaCount: 3

fullnameOverride: "hai-services"

serviceAccount:
  create: true
  automount: true

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

autoscaling:
  enabled: false
